.pricesection {
  display: flex;
  align-items: center;
}

.descuento {
  font-family: var(--font-fraunces);
  color: var(--green-500);
  font-weight: 700;
  font-size: 32px;
}

.precio {
  font-family: var(--font-monserrat);
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 16px;
}