.pricesection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.descuento {
  font-family: var(--font-fraunces);
  color: var(--green-500);
  font-size: 32px;
  font-weight: 700;
}

.precio {
  font-family: var(--font-montserrat);
  color: var(--grey);
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}