.categoria {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--grey);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}

.titulo {
  font-family: var(--font-fraunces);
  color: var(--black);
  font-size: 32px;
  line-height: 1;
  margin-bottom: 16px;
}

.descripcion {
  font-family: var(--font-montserrat);
  color: var(--grey);
  font-size: 14px;
  line-height: 1.65;
  font-weight: 500;
  margin-bottom: 24px;
}